GNU ARM */
simplicity_sdk_*/
wiseconnect3_sdk_*/
wius_fw_cmake/
wius_fw_iar_cmake/
autogen/
trashed_modified_files/
.pdm/
.settings/
.uceditor/
*.slcw
imported_project_report.html
wius_fw_project.pdf
vscode.conf
.vscode/c_cpp_properties.json
.env
env.h
.projectlinkstore
*.bak